/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	background-color: rgb(245, 245, 240);
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

button {
	font-family: 'Syne';
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	text-decoration: none;
	color: black;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#btn-modifier {
	background-color: transparent;
	border: none;
	display: none;
}

#btn-modifier:hover {
	opacity: 50%;
}

#projets-modifier {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

#portfolio h2 {
	text-align: center;
	margin-right: 30px;
}

.filters {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.filters button {
	font-size: medium;
	color: #1D6154;
	background-color: transparent;
	border: solid 1px #1D6154;
	border-radius: 20px;
	margin: 0 10px 0 10px;
	padding: 5px 15px 5px 15px;
}

.filters button:hover {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Login page properties */

#login-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login-main h2 {
	margin: 50px 0 50px 0;
}

#login-form {
	width: 350px;
	display: flex;
	flex-direction: column;
}

#login-form p {
	margin-bottom: 5px;
}

#login-form input {
	width: 100%;
	height: 40px;
	border: none;
	box-shadow: 5px 5px 5px rgb(235, 235, 235);
	margin-bottom: 20px;
}

#btn-se-connecter {
	background-color: #1D6154;
	color: white;
	padding: 10px 15px 10px 15px;
	border: none;
	border-radius: 20px;
	width: 170px;
	margin: 10px 0 20px 0;
}

#btn-mdp-oublie {
	background-color: transparent;
	border: none;
	text-decoration: underline;
	margin-bottom: 20px;
	cursor: pointer;
}

/* Modal properties */

#modale {
	display: none;
	flex-direction: column;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 700px;
	margin-top: -350px;		/* Half of height for center */
	margin-left: -300px;	/* Half of width for center */
	background-color: white;
	border-radius: 10px;
	align-items: center;
}

#add-form {
	display: none;
	flex-direction: column;
	width: 80%;
	height: 65%;
	margin: 0;
	border-bottom: solid 1px rgb(131, 131, 131);
}

#new-image-frame {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	background-color: rgb(223, 238, 238);
}

#new-image-icone {
	width: 60px;
	margin-bottom: 20px;
}

#new-image-button {
	border: none;
	border-radius: 20px;
	padding: 10px 20px 10px 20px;
	background-color: rgb(199, 199, 199);
	margin-bottom: 10px;
}

#add-form label {
	margin-top: 40px;
}

#titre-input {
	width: 100%;
	height: 40px;
	border: none;
	box-shadow: 5px 5px 5px rgb(235, 235, 235);
	margin-top: 10px;
}

#categorie-input {
	width: 100%;
	height: 40px;
	border: none;
	box-shadow: 5px 5px 5px rgb(235, 235, 235);
	margin-top: 10px;
}


#btn-back {
	display: none;
	position: absolute;
	top: 25px;
	left: 20px;
	background-color: transparent;
	border: none;
}

#btn-back img {
	width: 20px;
}

#btn-back:hover {
	opacity: 50%;
}

#btn-echap {
	position: absolute;
	top: 20px;
	left: 540px;
	background-color: transparent;
	border: none;
}

#btn-echap img {
	width: 30px;
}

#btn-echap:hover {
	opacity: 50%;
}

#modale h3 {
	font-size: 3ch;
	margin: 50px 0 30px 0;
}

#gallery-modale {
	overflow: auto;
	width: 80%;
	height: 65%;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	border-bottom: solid 1px rgb(131, 131, 131);
}

#gallery-modale figure {
	width: 76px;
	margin: 10px;
}

.image-figure {
	width: 100%;
}

.btn-delete {
	width: 25%;
	position: relative;
	bottom: 100px;
	left: 54px;
}

.btn-delete:hover {
	opacity: 70%;
}

#btn-ajouter {
	margin-top: 50px;
	padding: 10px 40px 10px 40px;
	border: none;
	border-radius: 20px;
	background-color: #1D6154;
	color: white;
}

#btn-ajouter:hover {
	opacity: 90%;
}